#nav-login {
    background-color: #0093E8;
    width: 100%;
}

.section-abelha {
    width: 25vw;
    height: 45vh;
    margin-left: 25px;
}
#bzz{
    margin: 0px;
}

.section-log {
    width: 50vw;
}

.section-vazio {
    width: 25vw;
}

#container-login {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#container-login .section-login {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}

#container-login .section-login .box-login {
    background-color: #FECF12;
    width: 28vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px 50px 0 0 ;
}

#container-login .section-login .box-login .form-title {
    margin-top: 4vh;
    font-size: 9vh;
    color: white;
}

#container-login .section-login .box-login .input-login {
    height: 8vh;
    width: 20vw;
    display: block;
    margin-top: 5vh;
    text-align: center;
    background-color:#7FD0FF;
    color: white;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 3vh;
}

#clique-aqui {
    color: #0093E8;
}

#container-login .section-login .box-login .input-login::-webkit-input-placeholder {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

#container-login .section-login .box-login .box-mark label {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.445);
    font-size: 1.4em;
}

#container-login .section-login .box-login .box-btn-play {
    padding: 20px;
}

#container-login .section-login .box-login .box-btn-play button {
    cursor: pointer;
    width: 6vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:#0093E8;
    border: none;
    outline: 0;
    padding-top: 2vh;
    padding-left: 0.8vw;
}

#container-login .section-login .box-login .box-btn-play button i {
    color: white;
    font-size: 40px;
}

#container-login .section-login .box-login .link {
    margin-top: 4vh;
    font-size: 1rem;
    color: white;
    transition: ease 0.3s;
} 

#container-login .section-login .box-login .link:hover {
    text-decoration: none;
    font-size: 1.1rem;
}


@media screen and (max-width: 1280px) and (max-height: 800px){
    #container-login .section-login .box-login .box-btn-play button{
        width: 8vw;
        height: 12vh;
        border-radius: 50%;   
    }
}
@media screen and (max-width: 375px) {
    #container-login .section-login {
        width: 70vw;
        height: 90vh;
    }
    #container-login .section-login .box-login {
        width: 100vw;
        height: 85vh;
        margin-top: 21vh;
        justify-content: center;
    }
    #container-login .section-login .box-login .form-title {
        font-size: 7vh;
    }
    #container-login .section-login .box-login .input-login{
        width: 60vw;
        height: 8vh;
    }
    #section-abelha img {
        display: none;
    }
    #container-login .section-login .box-login .box-btn-play button{
        width: 28vw;
        height: 13vh;
        border-radius: 50%;
    }
    #bzz {
        display: none;
    }
    .link {
        width: 80vw;
        height: 4vh;
        padding-top: 0.5vh;
        background-color: #FECF12;
        text-align: center;
    }
    #section-vazio {
        display: none;
    }
}
