#nav-fases {
    background-color: #0093E8;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#block1 {
    width: 25vw;
    height: 10vh;
}

#block2 {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block3 {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
}

#vazio {
    background-color: transparent;
}

#page-title {
    color: #FECF12;
    font-size: 9vh;
}

#abelha {
    height: 35vh;
    padding-top: 10px;
    padding-right: 3vw;
}

#fases {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#img-fases {
    width: 18vw;
    transform: scale(0.9);
    border-width: 10px;
    border-style:solid;
    border-color: #FECF12;
    cursor: pointer;
    transition: 0.5s;
}
#img-fases:hover{
    width: 20.5vw;
    transform: scale(1);
}

@media (max-width: 375px) and (max-height: 812px) {
    #spacing {
        margin-top: 10vh;
    }
    #page-title {
        font-size: 8vh;
    }
    #fases {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #img-fases {
        width: 40vw;
        border-width: 4px;
        border-style:solid;
        margin-bottom: 2vh;
    }
    #abelha {
        display: none;
    }
}