*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Paytone One', sans-serif;
}

#nav-cadastro {
    background-color: #0093E8;
    width: 100%;
}

#section1 {
    width: 25vw;
    bottom: 0;
    align-self: flex-end;
}

#section2 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 {
    width: 25vw;
}

#abelha{
    width: 16vw;
    height: 100%;
    margin-left: 8vh;
}

.temp2{
    display: flex;
    justify-content: space-between;
}

#caixaRegister{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 50px 50px 0 0;
    background-color:#FECF12;
    width: 35vw;
    height: 80vh;
}
#tituloC{
    margin-top: 4vh;
    margin-bottom: 2vh;
    font-size: 8vh;
}
.inputC{
    margin: 1vh;
    background: #7FD0FF;
    color: white;
    border-radius: 8px;
    height: 8vh;
    width: 25vw;
    text-align: center;
    border: none;
    outline: none;
    font-size: 3vh;
}
.inputC::-webkit-input-placeholder {
    text-align:center;
    font-size: 1.2rem;
    color: white;
}

#clique-aqui {
    color: #0093E8;
}

#btnCad{
    margin-top: 1vh;
    width: 18vw;
    height: 9vh;
    background: #0093E8;
    color: #ffff;
    font-size: 1.6em;
    border-radius: 15px;
}
.caixaBee{
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.caixaBee img{
    width: 100px;
}

@media (max-width: 1280px) and (max-height: 800px){
    #btnCad{
        font-size: 1.7em;
    }
    .inputC::-webkit-input-placeholder{
        font-size: 1.3rem;
    }
}

@media (max-width: 375px) and (max-height: 812px){
    #caixaRegister{
        width: 80vw;
        height: 88vh;
        border-radius: 50px 50px 0 0;
    }
    #tituloC{
        margin-top: 7vh;
        margin-bottom: 3vh;
        font-size: 4vh;
    }
    .inputC{
        margin-bottom: 20px;
        width: 60vw;
        height: 6vh;
    }
    .inputC::-webkit-input-placeholder{
        font-size: 2vh;
    }
    #btnCad{
        margin-top: 5vh;
        width: 40vw;
        height: 8vh;
        font-size: 2.3vh;
    }
    .caixaBee{
        display: none;
    }
    #erro {
        width: 35vh;
        margin-left: 5.45vh !important;
    }
}